<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- bootstrap css  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/mj-career/css/allstyles.css">
  <link rel="stylesheet" href="searching.css">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>

  

    <div class="intro">
      <h1>Browse and Apply for <span style="color:#f9a826"> Latest Job</span> <span>Openings</span></h1>
      <div class="form-inline">
        <div class="form-group col-12 col-md-5">
          <input type="text" class="form-control w-100" placeholder="Search by job title" id="searchJobInput">
        </div>
        <div class="form-group col-12 col-md-5">
          <input type="text" class="form-control w-100" placeholder="Search by joblocation" id="searchLocationInput">
        </div>

        <div class="form-group col-12 col-md-2">
          <button class="btn btn-outline-warning btn-block" onclick="filterJobs()">Search</button>
        </div>
      </div>


<script src="/mj-career/js/common.js"></script>
</body>

</html>