.container {
  background-color: #f0f3ff;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}
a{
  text-decoration: none;
  color: #836fff;
}
h2,
h2 {
  color: #836fff;
}

.card {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
}

.card-body,
.more-details .bg-light {
  padding: 20px;
}

.allJobsLink {
  text-align: center;
  margin-top: 20px;
}

.allJobsLink a,
.btn-success {
  color: #836fff;
}


.container {
  max-width: 1400px;
}

.job-details-container {
  background-color: #f8f9fa;
  margin-top: 20px;
}

.company-logo {
  max-width: 100%;
  height: auto;
}

.text-muted {
  color: #6c757d;
}

.skills {
  margin-top: 20px;
}

.skills h3,
.more-details h3 {
  margin-bottom: 10px;
}

.skills .rounded-border {
  background-color: #f0f8ff;
  border: 1px solid #836FFF;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 5px;
}

.more-details {
  margin-top: 20px;
}

.btn-primary:hover {
  background-color: #1ebf44;
}

@media (min-width: 768px) {
  .job-details-container {
    max-width: 80%;
    margin: 20px auto;
  }

  .skills .rounded-border {
    display: inline-block;
    margin-right: 10px;
  }
}
