.message-container {
  background-color: #F0F3FF; 
  color: #836FFF;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto; 
  margin-top: 100px;
}

.message-text {
  font-size: 24px;
  font-weight: bold;
  color: #836FFF; 
}

.message-paragraph {
  font-size: 18px;
  margin-bottom: 10px;
}

.message-thank-you {
  font-size: 16px;
  margin-top: 20px;
  color: #155724; 
}
