<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap css  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- bootstrap icons  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/mj-career/css/allstyles.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Mj Career</title>

</head>

<body>

    <!-- partial:index.partial.html -->
    <footer class="main-footer">
        <div class="container">
            <div class="footer-content">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                        <div class="logo-widget footer-widget">
                            <h1 class="footer__logo" style="color: #f9a826;"><a
                                    style="text-decoration: none; color: #f9a826;" href="./index.html">MJ
                                    &nbsp;&nbsp;&nbsp;<span style="color: white;">Career</span></a></h1>

                            <!-- <figure class="logo-box"><a href="#"><img class="footer__logo" src="../careerHUnt.png" alt=""></a></figure> -->
                            <div class="text">
                                <p>Whether you are just starting your career or looking for a career change, we are here
                                    to support you in achieving your professional goals.</p>
                            </div>
                            <ul class="footer-social">
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://github.com/Mansoor-P"><i class="fab fa-github"></i></a></li>
                                <!-- <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li> -->
                                <li><a href="https://www.linkedin.com/in/MANSOOR0731"><i
                                            class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 offset-lg-2 footer-column">
                        <div class="service-widget footer-widget">
                            <div class="footer-title">Quick Links</div>
                            <ul class="list">
                                <li><a href="./About/index.html">About Us</a></li>
                                <li><a href="./contactus/contact.html">Contact Us</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-widget">
                        <div class="contact-widget footer-widget">
                            <div class="footer-title">Contacts</div>
                            <div class="text">
                                <p>If you have any queries please mail below</p>

                                <p><a href="./contactus/contact.html" style="color: rgb(175, 175, 175);">
                                        mansoor-info@example.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- main-footer end -->



    <div class="footer-bottom justify-content-center text-center">
        <div class="container">
            <div class="">
                <div class="">
                    <div class="copyright"><a href="./index.html">Mj Career</a> &copy; 2023 All Right Reserved</div>
                </div>
                <div class="">
                    <ul class="footer-nav justify-content-center">
                        <li><a href="./About/index.html">About Us</a></li>
                        <li><a href="./contactus/contact.html">Contact Us</a></li>
                        <li><a href="./disclaimerpage.html">Desclaimer</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
</body>

</html>