@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.add-container .slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.add-container .slider::before,
.add-container .slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100px;
  position: absolute;
  width: 20%;
  z-index: 2;
}

.add-container .slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.add-container .slider::before {
  left: 0;
  top: 0;
}

.add-container .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 140%;
}

.add-container .slide {
  height: 100px;
  width: 20%;
}

.add-container {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .add-container .slider::before,
  .add-container .slider::after {
    width: 50%;
  }

  .add-container .slide-track {
    width: 280%;
  }

  .add-container .slide {
    width: 50%;
  }
}

.alljobsLink {
  text-align: right;
  margin-top: 26px;
}

.allJobsLink {
  border: 1px solid green;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  color: green;
  text-decoration: none;
}

.allJobsLink:hover {
  background-color: #f0f8ff;
  text-decoration: none;
}

.linkStyle {
  color: inherit;
  text-decoration: none;
}
