.filter-jobs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.company-button {
  margin: 5px;
  padding: 10px 15px;
  border: 1px solid #836FFF;
  border-radius: 45px;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.company-button:hover {
  background-color: #836FFF;
}

.company-button.selected {
  background-color: #b7c5fa;
  color: #fff;
}

.company-button.selected:hover {
  background-color: #b9c7fc;
}
