
.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-col {
  flex: 1 0 20%;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .footer-col {
    flex: 1 0 50%; 
  }
}

@media (max-width: 576px) {
  .footer-col {
    flex: 1 0 100%; 
  }
}
