footer {
  background-color: #211951;
  border-radius: 20px;
}
.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.navbar-brand{
  font-size: 2rem;
  color: white;
}
.navbar-brand:hover{
  color: #836FFF;
}
.footer-col {
  flex: 1 0 20%;
  margin-bottom: 20px;
}
.footer-links,
h5 {
  color: white;
}
.footer-links:hover,h5:hover{
  color: #836FFF;
}

@media (max-width: 768px) {
  .footer-col {
    flex: 1 0 50%;
  }
}

@media (max-width: 576px) {
  .footer-col {
    flex: 1 0 100%;
  }
}

@media (max-width: 576px) {
  .footer-logo {
    text-align: center;
    margin-bottom: 20px;
  }
}
