/* Container for blog highlight */
.blog-highlight {
  padding: 2rem;
  margin: 2rem auto;
  border: 1px solid var(--primary-color);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 1s ease-in-out;
  max-width: 1200px; /* Constrain maximum width for larger screens */
}

/* Dark mode styles */
.blog-highlight.dark {
  background-color: #1a1a1a;
  color: #e0e0e0;
  border:1px solid #4f46e5;
}

/* Flexbox container for layout */
.blog-highlight-content {
  display: flex;
  flex-direction: column; /* Default to column for small screens */
  gap: 1.5rem;
}

/* Image section styles */
.image-section {
  flex: 1;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.image-section img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.image-section img:hover {
  transform: scale(1.05);
}

/* Info section styles */
.info-section {
  flex: 1;
  padding: 1rem;
  text-align: center; /* Center text on small screens */
}

.info-section h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #000;
}

.info-section p {
  margin-bottom: 1.5rem;
  color: #555;
}

.info-section .btn-primary {
  background-color: #4f46e5;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
}

.info-section .btn:hover {
  border: 1px solid #4f46e5;;
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .blog-highlight-content {
    flex-direction: row; /* Change to row on medium screens and larger */
  }

  .info-section {
    text-align: left; /* Align text to left on larger screens */
    padding: 2rem;
  }
}

@media (max-width: 576px) {
  .blog-highlight {
    padding: 1rem;
    margin: 1rem auto;
  }

  .info-section h2 {
    font-size: 1.5rem;
  }

  .info-section p {
    font-size: 0.875rem;
  }

  .info-section .btn-primary {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
   
  }
}

/* Keyframes for animations */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
