/* Footer Styles */
.footer {
  background-color: #303846; /* Dark background for dark mode */
  color: #fff; /* Light text color for contrast */
}

.footer h2, .footer h4 {
  color: #4f46e5; /* Ensures headings are visible */
}

.footer-heading {
  font-weight: bold;
}

.social-icons a {
  font-size: 1.5rem;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
  color: #4f46e5; /* Highlight color on hover */
}
.btn-primary{
  background-color: #4f46e5;
  width: 100%;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .footer {
    padding: 1rem;
  }

  .social-icons {
    text-align: center;
    margin-top: 1rem;
  }

  .footer .container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 576px) {
  .footer .row {
    text-align: center;
  }

  .footer .col-md-6, .footer .col-lg-4 {
    margin-bottom: 1rem;
  }
}
