/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

/* Base styles for the header */
.header {
  font-family: 'Montserrat', sans-serif;
  nav{
    padding: 20px;
  }
}

/* Logo styles */
.header-logo {
  font-size: 1.75rem;
  font-weight: 700;
  text-decoration: none;
  color: #4f46e5;
  transition: color 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

.header-logo:hover {
  color: var(--accent-color);
}

/* Theme toggle button styles */

.theme-toggle {
  font-size: 1.25rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.theme-toggle:hover {
  transform: scale(1.1);
}

/* Responsive styles for smaller screens */
@media (max-width: 992px) {
  .header-logo {
    font-size: 1.5rem;
  }

  .theme-toggle {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
 

  .header-logo {
    font-size: 1.25rem;
  }

  .theme-toggle {
    font-size: 1rem;
  }

  .navbar-nav {
    text-align: center;
  }
}

@media (max-width: 576px) {

  .header-logo {
    font-size: 1.125rem;
  }

  .theme-toggle {
    font-size: 0.9rem;
  }

  .navbar-toggler {
    border: none;
  }
}
