.hero {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: var(--light-color-1);
  color: var(--text-color);
  gap: 40px;
  padding: 100px;
}
.hero .left > h1 {
  font-size: 60px;
}
.hero-add {
  /* background-color: var(--background-color); */
  color: var(--text-color);
  padding: 0.5rem 0.5rem;
  border-radius: 50px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  height: 40px;
}

.hero-add .new {
  background-color: var(--accent-color);
  border-radius: 50px;
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 70px;
}

.hero-add > p {
  margin-left: 10px;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.hero-search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input-wrapper {
  position: relative;
  flex: 1;
}

.input-wrapper i {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 1rem;
  color: var(--text-color);
}

.hero-search input {
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  font-size: 1rem;
  border: 1px solid var(--light-color-1);
  border-radius: 50px;
  width: 100%;
}

.hero-search button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .left {
    padding-right: 0;
  }

  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .hero {
    padding: 1rem;
  }

  h1 {
    font-size: 1.75rem;
  }

  .hero-search {
    flex-direction: column;
  }

  .hero-search input,
  .hero-search button {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}
