/* InfoStyles.css */

/* General Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* About Page Styles */
.about-container {
  padding: 20px;
}
.about-container h1 {
  font-size: 2.5rem;
  color: #333;
}
.about-container h2 {
  font-size: 2rem;
  color: #555;
}
.about-container p {
  font-size: 1rem;
  color: #666;
}
.about-container ul {
  list-style-type: disc;
  padding-left: 20px;
}
.about-container a {
  color: #007bff;
  text-decoration: none;
}
.about-container a:hover {
  text-decoration: underline;
}

/* Contact Page Styles */
.contact-container {
  padding: 20px;
}
.contact-container h1 {
  font-size: 2.5rem;
  color: #333;
}
.contact-container p {
  font-size: 1rem;
  color: #666;
}
.contact-info {
  background-color: #f8f9fa;
  border-radius: 8px;
}
.contact-info h2 {
  font-size: 1.5rem;
  color: #333;
}
.contact-info a {
  color: #007bff;
  text-decoration: none;
}
.contact-info a:hover {
  text-decoration: underline;
}
/* FAQ Page Styles */
.faq-container {
  padding: 20px;
}
.faq-container h1 {
  font-size: 2.5rem;
  text-align: center;
}
.faq-list {
  list-style-type: none;
  padding: 0;
}
.faq-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
}
.faq-question {
  cursor: pointer;
  padding: 15px;

  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}
.faq-question:hover {
  background-color: #e2e2e2;
  color: #333;
}
.faq-answer {
  display: none;
  padding: 15px;
  background-color: #333;
}
.faq-answer.show {
  display: block;
}
.faq-icon {
  font-size: 1.25rem;
  font-weight: bold;
}

/* Privacy Policy Page Styles */
.privacy-policy-container {
  padding: 20px;
}
.privacy-policy-container h1 {
  font-size: 2.5rem;
  color: #333;
}
.privacy-policy-container h2 {
  font-size: 2rem;
  color: #555;
}
.privacy-policy-container p {
  font-size: 1rem;
  color: #666;
}
.privacy-policy-container a {
  color: #007bff;
  text-decoration: none;
}
.privacy-policy-container a:hover {
  text-decoration: underline;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
  .about-container h1,
  .contact-container h1,
  .faq-container h1,
  .privacy-policy-container h1 {
    font-size: 2rem;
  }
  .about-container h2,
  .contact-info h2,
  .privacy-policy-container h2 {
    font-size: 1.5rem;
  }
}
