.job-details {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  color: #333333;
}

.job-details h1 {
  font-size: 1.4em;
  margin-bottom: 20px;
}

.job-details p {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.job-details h2 {
  margin-top: 20px;
}

.job-details ul {
  list-style-type: disc;
  padding-left: 20px;
}
.job-details .main-info-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.job-details .info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.6px solid var(--primary-color);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}



.job-details .info-item span {
  font-weight: bold;
}
.job-details .skills ul{
  display:flex ;
  gap:20px;
  font-size: 1rem;
  list-style: none;

}
.job-details .skills ul li{
  padding: 4px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 50px;
}
.apply-link {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.apply-link:hover {
  background-color: var(--accent-color);
}

@media (min-width: 768px) {
  .job-details {
    padding: 30px;
  }

  .job-details h1 {
    font-size: 2.5em;
  }

  .job-details p {
    font-size: 1.1em;
  }

  .job-details h2 {
    font-size: 1.5em;
  }

  .apply-link {
    padding: 12px 24px;
  }
}

/* Laptops and larger screens */
@media (min-width: 992px) {
  .job-details {
    padding: 40px;
  }

  .job-details h1 {
    font-size: 3em;
  }

  .job-details p {
    font-size: 1.2em;
  }

  .job-details h2 {
    font-size: 1.75em;
  }

  .apply-link {
    padding: 14px 28px;
  }
}

/* Large screens and desktops */
@media (min-width: 1200px) {
  .job-details {
    max-width: 1000px;
  }

  .job-details h1 {
    font-size: 3.5em;
  }

  .job-details p {
    font-size: 1.3em;
  }

  .job-details h2 {
    font-size: 2em;
  }

  .apply-link {
    padding: 16px 32px;
  }
}

/* Mobile devices (portrait) */
@media (max-width: 576px) {
  .job-details {
    padding: 15px;
  }

  .job-details h1 {
    font-size: 1.5em;
  }

  .job-details p {
    font-size: 0.9em;
  }

  .job-details h2 {
    font-size: 1.2em;
  }

  .apply-link {
    padding: 8px 16px;
    font-size: 0.9em;
  }
}
