<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap css  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/mj-career/css/allstyles.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Mj Career</title>

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h1 class="footer__logo"><a href="./index.html">MJ <span>Career</span></a></h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/mj-career/job-notifications.html">Job Notifications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mj-career/internships.html">Internships</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mj-career/resume/index.html">Resume Builder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mj-career/About/index.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mj-career/contactus/contact.html">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
    
</body>

</html>